.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 80%;
}

#video{
  position: fixed;
  z-index: -1;
  width: 100%;
  filter: brightness(0.7);
}
.App-title{
  color: rgb(237, 214, 183);
  font-size: 5rem;
}
.App-subtitle{
  font-size: 1.5rem;
  color: wheat;
}
.App-button{
  border-radius: 10px;
  width: 10rem;
  padding: .5rem 0 .5rem 0;
  font-size: 25px;
  background-color: wheat;
  color: brown;
}
.App-button:hover{
  background-color: brown;
  color: wheat;
}
