.Arrow-button{
    display: flex;
    align-items: center;
    height: 4rem;
    width: 1.5rem;
    border-radius: 10px;
}
@media (max-width: 1440px){
    .Arrow-button{
        display: none;
    }
}