@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');

.CarouselStyle{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 0;
}

.CityCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 230px;
    height: 400px;
    background: #e8e8e8;
    position: relative;
    box-shadow: 15px 15px 50px #adb5bd75;
    text-align: center;
    transition: all 0.3s ease-in;
    /* border: 1px solid rgb(64, 43, 10)s; */
    border-radius: 15px;
    background-color: rgb(64, 43, 10);
    margin: 0.1rem;
}
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in;
    height: 5%;
    font-size: 20px;
    margin-bottom: 4px;
    color: #fff;
    position: absolute;
    bottom:calc(350px / 8);
    left: 31%;
    font-family: 'IM Fell French Canon', serif;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: .2rem .4rem .2rem .4rem;

  }
  .Popular-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titleeh2{
    display: flex;
    margin: 2rem 0 -2rem 0;
    color: white;
    background-color: rgb(40, 93, 111);
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-family: 'IM Fell French Canon';
    padding: 1rem;
    border-radius: 15px;
  }
  .Popular-CarouContainer{
    display: flex;
    justify-content: space-around;
  }
.ImageCity{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.carouselButoom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom{
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 360%;

}
.card:hover .title{
    transform: scale(2.0);
    color: rgb(40, 93, 111);
    font-weight: 600;
    bottom: 50%;
  }
  
  .card::before {
    content: '';
    width: 100%;
    height: 0;
    background: rgb(64, 43, 10);
    position: absolute;
        /* Or Top */
    transition: 0.4s ease-in-out;
    z-index: 0;
    border-radius: 8px;
  }
  
  .card:hover::before {
    height: 100%;
    background-color: rgba(237, 213, 183, 0.6);
    background-image: none;

  }

.card:hover .move {
    transform: translateY(-9000%);
    opacity: 1;
}

@media (min-width: 769px) and (max-width: 1440px){
  .CityCard{
    margin: 150rem ;
  }
 
}
 @media (max-width: 768px){
  .titleeh2{
    font-size: 1.5rem;
  
    }
 }



