.Cities-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.CityCard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 22rem;
    background: #e8e8e8;
    position: relative;
    box-shadow: 15px 15px 50px #adb5bd75;
    text-align: center;
    transition: all 0.3s ease-in;
    border-radius: 15px;
    box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.58);
    margin: 2rem;
}

.CityCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in;
    height: 5%;
    font-size: 30px;
    margin-bottom: 35px;
    color: #fff;
    position: absolute;
    bottom:calc(350px / 8);
    left: 20%;
    font-family: 'IM Fell French Canon', serif;
    backdrop-filter: blur(2px);
    border-radius: 7px;
    padding: .2rem .4rem .2rem .4rem;

}
.CityCard-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in;
    height: 5%;
    font-size: 20px;
    margin-bottom: 2px;
    color: #fff;
    position: absolute;
    bottom:calc(350px / 8);
    left: 34%;
    font-family: 'IM Fell French Canon', serif;
    border-radius: 7px;
    padding: .2rem .4rem .2rem .4rem;

}
.CityCard-Image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.CityCard-text{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 1rem;
}
.CityCard:hover .CityCard-title{
    transform: scale(2.0);
    color: rgb(40, 93, 111);
    font-weight: 600;
    bottom: 50%;
  }
  .CityCard:hover .CityCard-subtitle{
    transform: scale(1.5);
    color: rgb(40, 93, 111);
    font-weight: 600;
    bottom: 45%;
  }
  .CityCard::before {
    content: '';
    width: 100%;
    height: 0;
    background: rgb(64, 43, 10);
    position: absolute;
 
        /* Or Top */
    transition: 0.4s ease-in-out;
    z-index: 0;
    border-radius: 8px;
  }
  
  .CityCard:hover::before {
    height: 100%;
    background-color: rgba(237, 213, 183, 0.6);
    background-image: none;

  }

  