@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.CityDetails-cont{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: rgba(0, 58, 77, 0.315);
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
}
.CityDetails-img{
    height: 25rem;
    border-radius: 15px;
    margin: 2rem 0 5rem 0;
    box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.58);

}
.CityDetails-h1{
    font-size: 3.5rem;
    color:rgb(40, 93, 111);
    font-family: 'IM Fell French Canon';
    text-shadow: 2px 2px 2px white;
    margin-top: 3%;
}
.CityDetails-h3{
    font-size: 2rem;
    color:rgba(40, 93, 111);
    font-family: 'IM Fell French Canon';
    text-shadow: 2px 2px 2px white;
    margin: -2.5rem 0 2rem 10rem  ;
}
.CityDetails-cont2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70vw;
    background-color: rgba(0, 58, 77, 0.25);
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 5rem 0;
    border-radius: 50px;
}
.CityDetails-text{
    font-size: 1.25rem;
    margin: 1rem 8rem;
    line-height: 30px;
}

.CityBackButton{
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
    color: #222831;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222831;
    font-size: 1px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 14rem;
    left: 0;
    margin-left: 3%;
}