.CommentsCard {
    display: flex;

    width: 95%;
    min-height: 15rem;
    
    box-shadow: 15px 15px 50px #adb5bd75;
    text-align: center;
    transition: all 0.3s ease-in;
    border-radius: 15px;
    box-shadow: 10px 10px 11px 1px rgba(0,0,0,0.58);
    background-color: darkgrey;
}

.CommentsCard-subtitle {
    display: flex;
    transition: all 0.4s ease-in;
    height: 5%;
    font-size: 20px;
    margin-bottom: 2px;
    color: rgb(1, 0, 1);
    bottom:calc(350px / 8);
    font-family: 'IM Fell French Canon', serif;
    border-radius: 7px;
    padding: .2rem .4rem .2rem .4rem;
    justify-content: space-around;
    align-items: center;
}