@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');
.Footer-Aspect{
    background: linear-gradient(45deg,#866649f5,rgba(237, 213, 183, 0.92),#866649f5);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 20vh;
    height: 100%;
    padding: 0 3rem;
}

.Fotter-Logo{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 2px 2px
    

}

.Fotter-LogoyCopy{
    display: flex;
    flex-direction: column;
    width: 33%;
    flex-wrap: wrap;
    gap: 15px;
    font-family: 'IM Fell French Canon', serif;
    justify-content: flex-end;
}

.Footer-Parrafo{
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    color: #4a3827;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    justify-content:center;
    align-items: center;
}

.Footer-Link{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-end;
    gap:10px;
    font-size:12px;
}
.Footer-Anchor{
    font-family: 'IM Fell French Canon', serif;
    background-color: #4a3827;
    padding: 0.6rem ;
    text-decoration-line: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.Footer-Anchor:hover{
    color: #4a3827;
    background-color: rgba(237, 213, 183, 0.92);
    font-weight: 700;
}


@media (max-width:768px){

    .Footer-Aspect{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        height: 100%;
    
    }

    .Footer-Parrafo{
        width: 34%;
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        justify-content:center;
        align-items: center;
        text-align: center;
    }

    .Fotter-LogoyCopy{
        display: flex;
        flex-direction: column;
        width: 33%;
        flex-wrap: wrap;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content:space-between ;
        text-align: center;
    }

    .Footer-Link{
        width: 33%;
        flex-direction: row;
        display: flex;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
        gap:2px;
        font-size:12px;
        margin-bottom: 5px;
    }
}