@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');
/* .Footer-Aspect{
    background: linear-gradient(50deg,rgb(104, 132, 150),#fff,rgb(104, 132, 150));
    color: white;
    display: flex;
    flex-wrap: wrap;
    min-height: 15vh;
    padding: 0 3rem;
} */
.Footer-Aspect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Footer-nav{
    background: linear-gradient(50deg,rgb(104, 132, 150),#fff,rgb(104, 132, 150));
    color: white;
    display: flex;
    flex-wrap: wrap;
    min-height: 15vh;
    width: 100%;
    justify-content: center;
}


.Footer-nav1{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.Fotter-Logo{
    display: flex;
    width: 175px;
    height: 175px;
    position: relative;
    left: 2rem;
}
.Footer-Thanks{
    padding-left: 2rem;
}
.Footer-copy{
    display: flex;
    color: rgb(40, 93, 111);
    font-family: sans-serif;
    font-size: 15px;
}

.Fotter-LogoyCopy{
    display: flex;
    width: 33%;
    flex-wrap: wrap;
    font-family: 'IM Fell French Canon', serif;
    justify-content: center;
}

.Footer-Parrafo{
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(40, 93, 111);
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    position: relative;
    left: 8rem;
    justify-content: center;
}

.Footer-a{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(104, 132, 150);
    text-decoration: none;
    border: 2px solid rgb(40, 93, 111);
    border-radius: 10px;
    padding: 3px 10px;
    margin-top: 6px;
    text-align: justify;
    background-color: antiquewhite;
    font-weight: 700;    
    text-transform: uppercase;
    position: relative;
    top: 2rem;
}
.Footer-a:hover{
    background-color: rgb(40, 93, 111);
    color: antiquewhite;
    border: 2px solid antiquewhite; 
    position: relative;
    right: 2vw;

}


.Footer-scroolUp{
    font-size: 1rem;

}



@media (max-width:768px){

    .Footer-Aspect{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        height: 100%;
    
    }

    .Footer-Parrafo{
        width: 34%;
        display: flex;
        flex-wrap: wrap;
        color: rgb(40, 93, 111);;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        justify-content:center;
        align-items: center;
        text-align: center;
        left: 0.1rem;
    }

    .Fotter-LogoyCopy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 33%;
        flex-wrap: wrap;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content:space-between ;
        text-align: center;
        align-items: center;
    }

    .Footer-Link{
        width: 33%;
        flex-direction: row;
        display: flex;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
        font-size:12px;




    }




    .Footer-nav{
        background: linear-gradient(50deg,rgb(104, 132, 150),#fff,rgb(104, 132, 150));
        color: white;
        display: flex;
        flex-wrap: wrap;
        min-height: 15vh;
        
    
        width: 100%;
        /* display: inline-flex; */
        justify-content: space-between;
        /* margin-left: 10rem; */
        flex-direction: column;
    align-items: center;
    }

    .Footer-copy{
        display: flex;
        color: rgb(40, 93, 111);
        font-family: sans-serif;
        font-size: 15px;
        position: relative;
        left: 0rem;
        margin-top: -1rem;
    }

    .Fotter-Logo{
        display: flex;
        width: 175px;
        height: 175px;
        position: relative;
        left: 0rem;
    }


}

