@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ButtonMenu{
    display: none;
}

.Header-cont{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(104, 132, 150);
}

.PagesLinks{
    width: 5vw;
}

.Header-logo{
    height: 120px;
    width: 120px;
    bottom: .5rem;
}

#Header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.Header-a{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(104, 132, 150);
    text-decoration: none;
    border: 2px solid rgb(40, 93, 111);
    border-radius: 10px;
    padding: 3px 45px;
    margin-top: 4px;
    text-align: justify;
    background-color: antiquewhite;
    font-weight: 700;
    text-transform: uppercase;
}

.Header-nav{
    display: none;
    width: 5px;
}
.Header-prof{
    display: flex;
    align-items: center;
}
.Header-profile{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgProfile{
    height: 40%;
}

.Header-a:hover{
    background-color: rgb(40, 93, 111);
    color: antiquewhite;
    border: 2px solid antiquewhite;
    position: relative;
    left: 2vw;

}
.nav{
    display: flex;
    justify-content: end;
    margin-left: 100px;
    margin-right: 10px;
}
.Header-title{
    color: #fff;
    text-shadow: 10px 10px 8px rgb(40, 93, 111);
    font-size: 4rem;
    font-family: 'IM Fell French Canon', serif;
}

@media (max-width: 1024px){
    .PagesLinks{
        width: 10vw;
    }
}


@media (max-width:900px){

    .Header-cont{
        width: 100%;
        min-height: 20vh;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(104, 132, 150);
        flex-direction: row;
        align-items: center;
    }

    .Header-title{
        color: #fff;
        text-shadow: 10px 10px 8px rgb(40, 93, 111);
        font-size: 2.5rem;
        font-family: 'IM Fell French Canon', serif;
    }


    .Header-nav{
        width: 36%;
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .Header-a{
        width: 15vw;

    }

    .PagesLinks {
        display: none;
    }

    #Header-logo{
        width: 36%;
        height: 100%;
    }


    .Header-profile{
        width: 36%;
    }


}

@media (max-width:650px) {
    .Header-logo{
        height: 4rem;
    }

    .Header-title{
        font-size: 2rem;
    }

    .ImgProfile{
        height: 30%;
    }

    .Header-logo{
        display: none;
    }

    .Header-a{
        font-size: .7rem;
    }

    .Header-nav{
        margin-bottom: 2rem;
    }
}

@media (max-width: 320px){
    .ImgProfile{
        height: 25%;
    }

    .Header-title{
        font-size: 1.5rem;
    }
}