    @import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .ButtonMenu{
        display: none;
    }

    .Header-cont{
        width: 100%;
        min-height: 20vh;
        display: flex;
        justify-content: space-around;
        background-color: rgb(104, 132, 150);
    }

    .PagesLinks{
        width: 5vw;
    }

    .Header-logo{
        height: 120px;
        width: 120px;
        bottom: .5rem;
    }

    #Header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vw;
        margin-left: -10%;
        gap: 2rem;
    }

    .Header-a{
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(104, 132, 150);
        text-decoration: none;
        border: 2px solid rgb(40, 93, 111);
        border-radius: 10px;
        padding: 3px 45px;
        margin-top: 2px;
        margin-left: -2rem;
        text-align: justify;
        background-color: antiquewhite;
        font-weight: 900;
        text-transform: uppercase;
        /* font-family: 'Comfortaa', cursive; */
    }

    .Header-nav{
        display: none;
        width: 5px;
    }
    .Header-prof{
        display: flex;
        align-items: center;
    }
    .Header-profile{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ImgProfile{
        height: 5rem;
    }
    .Nav-Sign{
        width: 36%;
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }
    .Header-a:hover{
        background-color: rgb(40, 93, 111);
        color: antiquewhite;
        border: 2px solid antiquewhite;
        position: relative;
        left: 1vw;
    }
    .nav{
        display: flex;
        justify-content: end;
        margin-left: 100px;
        margin-right: 10px;
    }
    .Header-title{
        color: #fff;
        text-shadow: 10px 10px 8px rgb(40, 93, 111);
        font-size: 4rem;
        font-family: 'IM Fell French Canon', serif;
        margin-left: -2rem;
    }


    /* DROPDOWN MENU */
    .Header-btn{
        display: none;
    }


    .dropdown {
        display: inline-block;
        position: relative;
        margin-left: 2rem;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        width: 6vw;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }


    .SignInUp{
        opacity: 0;
    }


    .Header-A{
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(104, 132, 150);
        text-decoration: none;
        border: 2px solid rgb(40, 93, 111);
        border-radius: 10px;
        padding: 3px 45px;
        margin-top: 2px;
        text-align: justify;
        background-color: antiquewhite;
        font-weight: 700;
        text-transform: uppercase;
    }
    .Header-A:hover{
        background-color: rgb(40, 93, 111);
        color: antiquewhite;
        border: 2px solid antiquewhite;
        position: relative;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }


    .dropdown-content a {
        display: block;
        color: rgb(104, 132, 150);
        padding: 5px;
        text-decoration: none;
    }

    .header-nav-modal{
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 2rem;
        align-items: stretch;
        left: -100%;
        top: 0;
        background-color: #1E212D;
        overflow-y: scroll;
        width: 100%;
        min-height: 100vh;
        transition: all 400ms;
    }

@media (max-width: 1024px){
    .PagesLinks{
        width: 10vw;
    }
}


@media (max-width:900px){

    .Header-cont{
        width: 100%;
        min-height: 20vh;
        display: flex;
        justify-content: space-around;
        background-color: rgb(104, 132, 150);
        flex-direction: row;
        align-items: center;
    }

    .Header-title{
        color: #fff;
        text-shadow: 10px 10px 8px rgb(40, 93, 111);
        font-size: 2.5rem;
        font-family: 'IM Fell French Canon', serif;
    }


    .Header-nav{
        width: 30%;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        margin-top: 30px;
    }

    .Header-a{
        width: 15vw;

    }

    .PagesLinks {
        display: none;
    }

    .Header-logo{
        display: none;
        width: 4rem;
        height: auto;
        margin-right: -32rem;
    }


    .Header-profile{
        width: 15%;
    }


}

@media (max-width:650px) {
    .Header-logo{
        height: 4rem;
    }

    .Header-title{
        font-size: 2rem;
        margin-right: -3rem;
    }

    .ImgProfile{
        height: 5rem;
    }

    .Header-logo{
        display: none;
    }

    .Header-a{
        font-size: .7rem;
    }

    .Header-nav{
        margin-bottom: 1rem;
    }
}

@media (max-width: 320px){
    

    .Header-title{
        font-size: 1.5rem;
        margin: 4rem -1rem 0 0;

    }
    .dropdown{
        margin-left: 0;
    }

    .ImgProfile{
        height: 4rem;
    }
}