@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Satisfy&display=swap');
.Hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: 40% 80%;
}

#video{
  position: fixed;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;  filter: brightness(0.9);
}
.Hero-title{
  color: rgb(40, 93, 111);
  text-shadow: 0 0 10px #FFFFFF;
  font-size: 5rem;
  font-family: 'IM Fell French Canon', serif;

}
.Hero-subtitle{
  font-family: 'IM Fell French Canon', serif;
  font-size: 2rem;
  color: white;
  backdrop-filter: invert(5%);

}
.Hero-button{
  margin-top: 4rem;
  border: 1px solid #4a3827;
  border-radius: 10px;
  width: 20rem;
  padding: .7rem;
  font-size: 25px;
  background-color: rgb(40, 93, 111);
  color: wheat;
  font-family: 'IM Fell French Canon', serif;
  
}
.Hero-button:hover{
  background-color: wheat;
  color: rgb(97, 153, 172);
  font-weight: 700;
}
