
.SignInTitle{
    font-size: 3.5rem;
    color:rgb(40, 93, 111);
    font-family: 'IM Fell French Canon';
    text-shadow: 2px 2px 2px white;
    margin-top: 10%;
}
.SignInForm{
    margin-top: 10%;
    backdrop-filter: blur(5px);
    padding: 2rem;
}
.SignInInput{
    margin-top: 3%;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}
.ButtonInput{
    border: 2px solid rgb(40, 93, 111);
    color: rgb(40, 93, 111);
    font-size: 15px;
}
#videoSignIn{
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;  
    filter: brightness(0.4);
}