
.SignInTitle{
    font-size: 3.5rem;
    color:rgb(40, 93, 111);
    font-family: 'IM Fell French Canon';
    text-shadow: 2px 2px 2px white;
    margin-top: 3%;
}


#videoSignIn{
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;  
    filter: brightness(0.4);
}